<div class="section topmargin nobottommargin nobottomborder">
  <div class="container clearfix">
    <div class="heading-block center nomargin">
      <h3>The most popular hotels</h3>
    </div>
  </div>
</div>

<div class="container clearfix">
  <div id="shop" class="clearfix">
    {{#each hotels.hotels}}
      <div class="product clearfix">

        <div class="product-image" style="height: auto">
          {{#each imgs}}
            <a href="#"><img src="/images/i-feel-lucky-desktop-ui/{{this}}" alt="Checked Short Dress"
                             style="height: auto"></a>
          {{/each}}
          {{#if discount}}
            <div class="sale-flash">{{discount}}</div>
          {{/if}}
          <div class="product-overlay">
            <a href="#" class="add-to-cart"><i class="icon-suitcase"></i><span> Book It</span></a>
            <!--<a href="#" class="item-quick-view" data-lightbox="ajax"><i-->
            <!--class="icon-zoom-in2"></i><span> Detail</span></a>-->
            <a href="#" class="item-quick-view"><i class="icon-zoom-in2"></i><span> Detail</span></a>
          </div>
        </div>

        <div class="product-desc">
          <div class="product-title"><h3><a href="#">{{hotelName}}</a></h3></div>
          <div class="product-price">
            {{#if discount}}
              <del>{{originPrice}}</del>
            {{/if}}
            <ins>{{currentPrice}}</ins>
          </div>
          <div class="product-rating">
            {{#each stars}}
              <i class="icon-star3"></i>
            {{/each}}
            {{#if halfStar}}
              <i class="icon-star-half-full"></i>
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}
  </div><!-- #shop end -->
</div>
